In [2]:

8246622.25/22186

371.7038785720725

In [2]:
from ucimlrepo import fetch_ucirepo 
  
# fetch dataset 
online_retail = fetch_ucirepo(id=352) 
  
# data (as pandas dataframes) 
X = online_retail.data.features 
y = online_retail.data.targets 
  
# metadata 
print(online_retail.metadata) 
  
# variable information 
print(online_retail.variables)

{'uci_id': 352, 'name': 'Online Retail', 'repository_url': 'https://archive.ics.uci.edu/dataset/352/online+retail', 'data_url': 'https://archive.ics.uci.edu/static/public/352/data.csv', 'abstract': 'This is a transactional data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.', 'area': 'Business', 'tasks': ['Classification', 'Clustering'], 'characteristics': ['Multivariate', 'Sequential', 'Time-Series'], 'num_instances': 541909, 'num_features': 6, 'feature_types': ['Integer', 'Real'], 'demographics': [], 'target_col': None, 'index_col': ['InvoiceNo', 'StockCode'], 'has_missing_values': 'no', 'missing_values_symbol': None, 'year_of_dataset_creation': 2015, 'last_updated': 'Mon Oct 21 2024', 'dataset_doi': '10.24432/C5BW33', 'creators': ['Daqing Chen'], 'intro_paper': {'ID': 361, 'type': 'NATIVE', 'title': 'Data mining for the online retail industry: A case study of RFM model-based customer segmentation using data mining', 'authors': 'Daqing Chen, Sai Laing Sain, Kun Guo', 'venue': 'Journal of Database Marketing and Customer Strategy Management, Vol. 19, No. 3', 'year': 2012, 'journal': None, 'DOI': '10.1057/dbm.2012.17', 'URL': 'https://www.semanticscholar.org/paper/e43a5a90fa33d419df42e485099f8f08badf2149', 'sha': None, 'corpus': None, 'arxiv': None, 'mag': None, 'acl': None, 'pmid': None, 'pmcid': None}, 'additional_info': {'summary': 'This is a transactional data set which contains all the transactions occurring between 01/12/2010 and 09/12/2011 for a UK-based and registered non-store online retail.The company mainly sells unique all-occasion gifts. Many customers of the company are wholesalers.', 'purpose': None, 'funded_by': None, 'instances_represent': None, 'recommended_data_splits': None, 'sensitive_data': None, 'preprocessing_description': None, 'variable_info': "InvoiceNo: Invoice number. Nominal, a 6-digit integral number uniquely assigned to each transaction. If this code starts with letter 'c', it indicates a cancellation. \nStockCode: Product (item) code. Nominal, a 5-digit integral number uniquely assigned to each distinct product.\nDescription: Product (item) name. Nominal.\nQuantity: The quantities of each product (item) per transaction. Numeric.\t\nInvoiceDate: Invoice Date and time. Numeric, the day and time when each transaction was generated.\nUnitPrice: Unit price. Numeric, Product price per unit in sterling.\nCustomerID: Customer number. Nominal, a 5-digit integral number uniquely assigned to each customer.\nCountry: Country name. Nominal, the name of the country where each customer resides. ", 'citation': None}}
          name     role         type demographic  \
0    InvoiceNo       ID  Categorical        None
1    StockCode       ID  Categorical        None
2  Description  Feature  Categorical        None
3     Quantity  Feature      Integer        None
4  InvoiceDate  Feature         Date        None
5    UnitPrice  Feature   Continuous        None
6   CustomerID  Feature  Categorical        None
7      Country  Feature  Categorical        None

                                         description     units missing_values
0  a 6-digit integral number uniquely assigned to...      None             no
1  a 5-digit integral number uniquely assigned to...      None             no
2                                       product name      None             no
3  the quantities of each product (item) per tran...      None             no
4  the day and time when each transaction was gen...      None             no
5                             product price per unit  sterling             no
6  a 5-digit integral number uniquely assigned to...      None             no
7  the name of the country where each customer re...      None             no

In [7]:
X.head()

,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [6]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Description  540455 non-null  object
 1   Quantity     541909 non-null  int64
 2   InvoiceDate  541909 non-null  object
 3   UnitPrice    541909 non-null  float64
 4   CustomerID   406829 non-null  float64
 5   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(3)
memory usage: 24.8+ MB

In [ ]:



# Date input for user selection
selected_date = st.date_input("Select Date", pd.to_datetime("2010-12-01"))

# Aggregation type: Day, Week, Month
aggregation_type = st.selectbox("Select Aggregation Type", ["Daily", "Weekly", "Monthly"])

# Query templates
day_query = """
    SELECT SUM(total_price) AS total_revenue_day
    FROM invoice_details id
    JOIN invoices i ON id.invoice_number = i.invoice_number
    WHERE DATE(i.invoice_date) = '{}';
"""

week_query = """
    SELECT SUM(line_total) AS total_revenue_week
    FROM invoice_details id
    JOIN invoices i ON id.invoice_no = i.invoice_no
    WHERE WEEK(i.invoice_date, 1) = {} AND YEAR(i.invoice_date) = {};
"""

month_query = """
    SELECT SUM(line_total) AS total_revenue_month
    FROM invoice_details id
    JOIN invoices i ON id.invoice_no = i.invoice_no
    WHERE MONTH(i.invoice_date) = {} AND YEAR(i.invoice_date) = {};
"""

# Fetch data based on user selection
if aggregation_type == "Day":
    # Query for the selected day
    query = day_query.format(selected_date.strftime('%Y-%m-%d'))
    revenue = pd.read_sql(query, engine).iloc[0, 0] or 0
    st.write(f"Total Revenue for {selected_date.strftime('%Y-%m-%d')}: ${revenue:.2f}")

elif aggregation_type == "Week":
    # Get the week number and year from the selected date
    week_number = selected_date.isocalendar()[1]  # Week number
    year = selected_date.year
    # Query for the selected week
    query = week_query.format(week_number, year)
    revenue = pd.read_sql(query, engine).iloc[0, 0] or 0
    st.write(f"Total Revenue for Week {week_number}, {year}: ${revenue:.2f}")

elif aggregation_type == "Month":
    # Get the month and year from the selected date
    month_number = selected_date.month
    year = selected_date.year
    # Query for the selected month
    query = month_query.format(month_number, year)
    revenue = pd.read_sql(query, engine).iloc[0, 0] or 0
    st.write(f"Total Revenue for {selected_date.strftime('%B %Y')}: ${revenue:.2f}")